@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --branco: #ffffff;
  --preto: #252525;
  --roxo: #702231;
  --roxo-escuro: #51252f;
  --roxo-hover: #ca5c4d;
  --laranja: #ffba08fa;
}

html,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--preto);
  line-height: 25px;
  overflow-x: hidden !important;
}
a {
  transition: 0.2s all;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
}

.separa {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

hr {
  border-top: 1px solid var(--roxo);
  width: 40%;
  margin: 0 auto;
  opacity: 1;
}

.tit_page {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--roxo);
}

h2 {
  font-size: 1.688rem;
  font-weight: 600;
  color: var(--roxo);
  line-height: 32px;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--roxo-escuro);
  line-height: 25px;
}

h5 {
  font-size: 1rem;
  color: var(--roxo);
  line-height: 25px;
  font-weight: 700;
}

/* ANIMAÇÃO */
.fade-end {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-end.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-start {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-start.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-top {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-top.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* BOTÃO */
.botao {
  color: #ffffff;
  background: var(--roxo);
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.2s all;
}

.botao:hover {
  color: var(--roxo-escuro);
  background: var(--laranja);
  /* scale: 90%; */
}

/* MENU */
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  display: contents !important;
}

.nav div.logo {
  max-width: 170px;
  float: left;
  width: auto;
  height: auto;
  /* padding-left: 3rem; */
}

@media screen and (max-width: 1024px) {
  .nav div.logo {
    max-width: 130px;
    margin-left: 20px;
  }
}

.nav div.logo a {
  text-decoration: none;
  color: var(--branco);
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: var(--laranja);
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  /* width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem; */
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: var(--branco);
  font-size: 1rem;
  /* border-left: 2px solid #fff; */
  padding: 0 20px;
}

.nav div.main_list ul li a:hover {
  color: var(--laranja);
}

/* BANNER */
.banner {
  width: 100%;
  height: 650px;
  background-image: url("images/banner_header.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .banner {
    background-position: center right -240px;
  }
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    /* margin: 0; */
  }
}

@media screen and (max-width: 1024px) {
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    /* margin-left: 15px; */
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    /* padding: 20px 0; */
    width: 100%;
    height: auto;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--preto);
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
    /* height: 50px; */
    display: flex;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    /* padding: 10px 20px; */
  }
  .nav div.media_button {
    display: block;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  /* height: 25px; */
  margin: auto;
  position: absolute;
  right: 60px;
  top: 66px;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* ////////////////////////// */

.icons_banner {
  background: var(--roxo);
  color: #ffffff;
  text-align: center;
}

.icons_banner .icons_banner_icon {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 25px 0;
}

.icons_banner .icons_banner_icon img {
  /* max-width: 70px; */
  margin: 0 10px 0 0;
  min-height: 75px;
}

@media (max-width: 576px) {
  .icons_banner .icons_banner_icon img {
    min-height: 0px;
  }

  .icons_banner .icons_banner_icon {
    padding: 15px 0;
  }
}

.links_banner {
  background: var(--roxo-escuro);
  color: #ffffff;
  text-align: center;
}

.links_banner .links_banner_link {
  font-size: 0.938rem;
  font-weight: 600;
  padding: 25px 0;
}

.links_banner .links_banner_link a {
  color: #ffffff;
}

.links_banner .links_banner_link a:hover {
  color: var(--laranja);
}

.home_advocacia {
  margin: 120px 0;
}

.home_advocacia .home_advocacia_contato {
  color: var(--roxo);
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}

.home_advocacia .home_advocacia_contato p {
  color: var(--roxo);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.home_advocacia .home_advocacia_contato i {
  font-size: 1.3rem;
  margin-right: 10px;
}

.home_publicacao {
  margin: 120px 0;
}

/* FOOTER */
footer {
  background: var(--roxo);
  color: #ffffff;
  padding: 30px 0;
}

footer a {
  color: #ffffff !important;
}

footer a:hover {
  color: var(--laranja) !important;
}

.img_footer {
  margin-top: -100px;
}

.copy p {
  font-size: 0.875rem;
}

.home_advocacia .link_blog {
  font-weight: 400 !important;
}

.home_advocacia .link_blog a {
  color: var(--roxo-escuro) !important;
}
.home_advocacia .link_blog a:hover {
  text-decoration: underline;
}

.home_advocacia .link_blog i {
  color: var(--roxo-escuro);
}

.home_advocacia .card_blog {
  margin-bottom: 30px;
  margin-top: 10px;
}

.home_advocacia .tit_card_blog {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 25px;
}

.home_advocacia .card_blog_img:hover {
  transform: scale(1.05);
}

.home_advocacia .tit_card_blog:hover {
  color: var(--laranja);
  transition: 0.2s all;
}

.home_advocacia .card_blog_img {
  transition: 0.2s;
  height: 280px;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .home_advocacia .card_blog_img {
    height: 480px;
  }
}

@media (max-width: 576px) {
  .home_advocacia .card_blog_img {
    height: 320px;
  }
}

.blog_single h1 {
  text-align: center;
  font-size: 2.813rem;
}

.blog_single .link_blog_single {
  margin-bottom: 80px;
  font-weight: 400;
  text-align: center;
  font-size: 1.125rem;
}

.blog_single a {
  color: var(--roxo);
  font-weight: 600;
}

.blog_single a:hover {
  text-decoration: underline;
}

.form_contato label {
  color: var(--roxo);
}

.form_contato .form-control {
  border: 1px solid var(--preto);
  padding: 10px 10px;
}
